.content-form{
    position: relative;

    width: calc(100% - 200px);
    padding: map-get($map: $spacers, $key: 4);
    background: $grey;

    &:before{
        content: '';
        display: block;

        position: absolute;
        top: 30px;
        left: 30px;

        width: calc(100% - 60px);
        height: calc(100% - 60px);

        border: 1px solid $dark-grey;
    }

    &__body{
        position: relative;
        z-index: 9;
        width: 680px;
        max-width: 100%;
        padding: $spacer/2;
    }
    &__title{
        width: 580px;
        max-width: 100%;
        margin-bottom: $spacer/2;
    }

    &_inside{
        width: 100%;
    }
}