.content{
    position: relative;
    padding: $spacer map-get($map: $spacers, $key: 4);
    background-color: $light-grey;
    overflow: hidden;

    &__title{
        font-size: 52px;
    }
    &__logo{
        width: 200px;
        margin-bottom: $spacer;
    }
    &__intro{
        // margin-bottom: 0;
        // padding-bottom: $spacer/2;

        width: 880px;
        max-width: 85%;
    }
    &__error{
        font-family: $font-family-heading;
        font-size: 120px;
        line-height: 80px;
        color: $dark-grey;
    }
    &__map{
        width: 50%;
        height: 100%;
        filter: hue-rotate(-180deg);

        position: absolute!important;
        top: 0;
        right: 0;
        z-index: 11;
    }

    ol{
        padding-left: 16px;
    }
    ul:not(.breadcrumbs){
        @extend .list;
        li{
            @extend .list__item;
        }
    }
    table{
        // width: 100%;
        thead{
            background-color: $dark-grey;
            border: 1px solid $dark-grey;

            th{
                text-transform: uppercase;
                font-size: 12px;
                font-weight: $font-weight-bolder;
                letter-spacing: 1px;
            }

            & + tbody{
                border-top: 2px solid $light-grey;
            }
        }
        tbody{
            background-color: $grey;
            border: 1px solid $grey;
            tr{
                border-bottom: 2px solid $light-grey;
                
                &:nth-child(2n){
                    background-color: lighten($color: $grey, $amount: 4);
                }

                &:last-child{
                    border-bottom: none;
                }
            }
        }
    }

    &_with-sidebar{
        background: linear-gradient(90deg, $light-grey 50%, darken($light-grey,3) 50%);
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .content{
        &_with-sidebar{
            background: linear-gradient(90deg, #fcfaf8 60%, #f7f2ed 60%);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .content{
        padding: $spacer;
        &__title{
            font-size: 42px;
        }
        &__error{
            font-size: 90px;
        }
        &__map{
            width: 42%;
        }
        &_with-sidebar{
            background: linear-gradient(90deg, #fcfaf8 65%, #f7f2ed 65%);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .content{
        &__map{
            position: inherit!important;
            width: 100%;
            height: 280px;
            margin-top: $spacer;
        }

        &_with-sidebar{
            background: $light-grey;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .content{
        padding: $spacer map-get($map: $spacers, $key: 3);
        &__logo{
            width: 160px;
        }
        &__title{
            font-size: 32px;
        }
        
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .content{
        padding: $spacer map-get($map: $spacers, $key: 2);
        &__logo{
            width: 120px;
            margin-bottom: $spacer/2;
        }
        &__title{
            font-size: 24px;
        }
        &__map{
            height: 240px;
        }
    }
}