.btn{
    border: none;
    outline: none;
    box-shadow: none;


    max-width: 100%;
    padding: 10px 36px;
    
    transition: all .4s;

    &:hover, &:focus{
        text-decoration: none;
    }

    &--full{
        width: 100%;
    }
}