.footer.container
    .row
        .col-6.col-sm-12.mb-sm-1.text-sm-center
            p.footer__copyright © 2020 Адвокатское бюро «Марсово поле». All&nbsp;Rights&nbsp;Reserved.
        .col-6.col-sm-12.text-right.text-sm-center
            a.footer__link(href="#" title="Политика конфиденциальности") Политика конфиденциальности