.footer.container
    .row
        .col-6
            p.footer__copyright © 2020 Адвокатское бюро «Марсово поле». All Rights Reserved.
        .col-6.text-right
            a.footer__link(href="#" title="Политика конфиденциальности") Политика конфиденциальности