.input{
    background-color: $white;
    color: $black;
    border: 1px solid $border-color;
    padding: $spacer/4 $spacer/2;
    margin-bottom: $spacer/4;
    transition: .4s;

    &::placeholder{
        transition: .4s;
        color: $dark-grey;
    }
    &:hover, &:focus{
        border-color: $border-color;
        outline: none;
    }
    &:focus::placeholder{
        opacity: 0;
    }
    // Состояние
    &--full{
        width: 100%;
    }
}