html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Contact Page

        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include component/header/header.pug
        section.container
            .content.content_with-sidebar
                .row.align-items-center
                    .col-6.col-lg-7.col-md-12
                        img.content__logo.img-fluid(src="../icon/logo.png")
                        h1 Контактная информация
                        p.content__intro Maxime placeat, facere possimus, omnis voluptas nulla vero eos. 
                            | Quam nihil molestiae non recusandae corrupti, quos dolores eos, qui. Id est eligendi optio.
                .content__map#map
            //- Navbar   
            .navbar
                a.navbar__item(href="person.html") Адвокаты-партнеры
                a.navbar__item(href="service.html") Практики бюро
                a.navbar__item.navbar__item--active(href="contact.html") Контакты
            .bg-light-grey.mt-2
                .row.align-items-center
                    .col-5.col-lg-12
                        .content-contact.content-contact_inside
                            .row
                                .col-12.col-lg-6.col-sm-12
                                    p.h6.text-uppercase.mb-1 Как с нами связаться?
                                    p.mb-0
                                        a(href="tel:88009113221") 8 (800) 911-32-21
                                    p.mb-0
                                        a(href="tel:88009113221") 8 (800) 911-32-21
                                    p.mb-0
                                        a(href="mailto:mail@mail.ru") office@marsovopole-law.ru
                                .col-12.col-lg-6.col-sm-12.mt-2.mt-md-0.mt-sm-2
                                    p.h6.text-uppercase.mb-1 Как нас найти?
                                    p 191186, Санкт-Петербург, Марсово Поле, д.&nbsp;3, оф.&nbsp;22Н, лит.&nbsp;А
                    .col-7.col-lg-12
                        .content-form.content-form_inside
                            .content-form__body
                                p.h4.content-form__title Есть вопросы? Обратитесь к нашим адвокатам за консультацией:
                                form.form.form_inline(action="")
                                    input.input.form_inline__input.phone(type="text" placeholder="Контактный телефон")
                                    button.btn.btn_action.form_inline__btn(type="submit") Заказать звонок
                                    .form_inline__agree.form__agree.form__agree_inverse.checkbox
                                        input.checkbox__input#agreeInline(type="checkbox" name="agreeInline" checked="checked" required="required")
                                        label.checkbox__label(for="agreeInline") согласен с обработкой 
                                            a.text-underline(href="/policy.pdf" target="_blank") персональных данных
        include component/footer/footer.pug
        .modal.modal_map#maps
            .modal__map.map#map-modal
        //- Fancybox
        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        script(src="./js/jquery.fancybox.min.js")

        script(src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js')
        link(href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet')
        script(src="./js/mapbox.js")

        script(src="./js/jquery.inputmask.min.js")
        script(src="./js/app.min.js")