html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Service
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include component/header/header.pug
        section.container
            //- Intro
            .content
                img.content__logo.img-fluid(src="../icon/logo.png")
                h1.content__title Практики адвокатского бюро
                p.content__intro Maxime placeat, facere possimus, omnis voluptas nulla vero eos. Quam nihil molestiae non recusandae corrupti, quos dolores eos, qui. Id est eligendi optio, cumque nihil impedit, quo minus id, quod maxime. Eligendi optio, cumque nihil molestiae consequatur, vel illum. Temporibus autem quibusdam et expedita distinctio. Saepe eveniet, ut perspiciatis, unde omnis dolor. Provident, similique sunt in ea commodi autem quibusdam et voluptates repudiandae sint.
            //- Navbar   
            .navbar
                a.navbar__item(href="person.html") Адвокаты-партнеры
                a.navbar__item.navbar__item--active(href="service.html") Практики бюро
                a.navbar__item(href="contact.html") Контакты
            //- Main Content
            .content
                .row
                    .col-4.col-sm-12
                        .item.item_service
                            p.item_service__title I. Разрешение споров
                            a.item_service__link(href="#") Банкротство
                            a.item_service__link(href="#") Защита деловой репутации
                            a.item_service__link(href="#") Международные арбитражные и&nbsp;судебные споры 
                            a.item_service__link(href="#") Судебно-арбитражная практика
                            a.item_service__link(href="#") Трудовое право
                            a.item_service__link(href="#") Уголовно-правовая практика
                    .col-4.col-sm-12
                        .item.item_service
                            p.item_service__title II. Сделки&финансирование
                            a.item_service__link(href="#") Банкротство
                            a.item_service__link(href="#") Защита деловой репутации
                            a.item_service__link(href="#") Международные арбитражные и&nbsp;судебные споры 
        include component/footer/footer.pug
        //- Fancybox
        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        script(src="./js/jquery.fancybox.min.js")

        script(src="./js/jquery.inputmask.min.js")
        script(src="./js/app.min.js")