.modal{
    display: none;

    width: 920px;
    max-width: calc(100% - 80px);
    max-height: 80vh;
    
    &__map{
        width: 100%;
        height: 400px;
        overflow: visible;

        filter: hue-rotate(-180deg);
    }

    &.fancybox-content{
        max-width: calc(100% - 80px);
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .modal{
        &.fancybox-content{
            padding: $spacer/2;
        }
    }
}